:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --p-font-size: 0.8rem;
}


body {
  background: var(--cream);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--dark-cyan);
}

.product {
  width: 36rem;
  display: flex;
  margin: 0px auto;
  border-radius: 1rem;
  background: var(--white);
}

img {
  width: 50%;
  max-width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.text {
  width: 50%;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
}

h6 {
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.3rem;
}

.title,
.discounted-price {
  font-family: "Fraunces", serif;
}

.title {
  color: var(--very-dark-blue);
  line-height: 1.9rem;
  font-size: 1.9rem;
  margin-bottom: 1.4rem;
}

p {
  font-size: var(--p-font-size);
  color: var(--dark-grayish-blue);
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}

.discounted-price {
  font-size: 1.9rem;
}

.price-number {
  text-decoration: line-through;
  font-size: 0.7rem;
  margin-left: 1rem;
  color: var(--dark-grayish-blue);
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
}

button {
  width: 100%;
  height: 2.8rem;
  border: none;
  background: var(--dark-cyan);
  color: var(--white);
  border-radius: 0.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.cart-icon {
  width: 0.8rem;
  margin-right: 0.3rem;
}

button:hover {
  background: #1a4031;
}

@media screen and (max-width: 580px) {
  .product{
    flex-direction: column;
    width: 21rem;
  }

  img{
    width: 100%;
    max-width: 100%;
  }

  .text{
    width: 100%;
  }
}